<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236126728561-cnqhpmt1gpcf4u8ih9oo30n58f0fcqnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236126728561-cnqhpmt1gpcf4u8ih9oo30n58f0fcqnr</string>
	<key>API_KEY</key>
	<string>AIzaSyCz1olNFQ6YuzpgoTSYHZf3JLp6QgSytus</string>
	<key>GCM_SENDER_ID</key>
	<string>236126728561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joost.commit</string>
	<key>PROJECT_ID</key>
	<string>commit-b9e29</string>
	<key>STORAGE_BUCKET</key>
	<string>commit-b9e29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236126728561:ios:6a18a82d06c543bf7e86d0</string>
</dict>
</plist>