<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236126728561-0hod0mrh357shqc7fv3vovav174kiihs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236126728561-0hod0mrh357shqc7fv3vovav174kiihs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>236126728561-di5nur639q56s5t9col0rjka8fhvc4ak.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaitNXR0Qc_JBVpgx9OT_8PXDFDLEyt3g</string>
	<key>GCM_SENDER_ID</key>
	<string>236126728561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.j0ost.commit</string>
	<key>PROJECT_ID</key>
	<string>commit-b9e29</string>
	<key>STORAGE_BUCKET</key>
	<string>commit-b9e29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236126728561:ios:d371729f92a847cd7e86d0</string>
</dict>
</plist>